button.button-toolbar.rewind {display: none;} 
button.button-toolbar.next {display: none;}

button.button-toolbar.home {order: 1}
button.button-toolbar.back {order: 2;}
button.button-toolbar.forward {order: 3;}

.addressfield {order: 1;}
.toolalt {
	order: 2;
	display: flex;
	position: relative;
}
.iconmenu-container.searchfield {
	order: 3;
	margin-left: 5px;
}
.extensions-wrapper {order: 4;}

button.button-toolbar.back svg path {
	d: path("M 19.477778,22.044444 17.522222,24 6.522222,13 17.522222,2 19.477778,3.9555556 10.677778,13 Z");
}
button.button-toolbar.forward svg path {
	d: path("M 6.522222,22.044444 8.477778,24 19.477778,13 8.477778,2 6.522222,3.9555556 15.322222,13 Z");
}
button.button-toolbar.home svg path {
	d: path('M 268.75977,1.2441406 C 254.57588,2.1500053 247.39528,16.331883 237.55078,24.435547 156.00485,106.62282 73.109684,187.49726 -7.5078125,270.58203 c -9.2620115,14.6994 7.30065213,36.69966 24.0039065,30.60938 13.871843,-4.64533 20.635951,-18.78265 31.666233,-27.33032 C 121.95653,200.06625 195.75072,126.27141 269.54492,52.476562 352.37788,134.69293 433.92472,218.2292 517.66406,299.50977 c 14.67905,9.23824 36.62879,-7.24762 30.63282,-23.93946 C 543.87819,261.97769 530.00937,255.3036 521.62613,244.54726 441.1422,164.53663 361.67355,83.47498 280.4375,4.2402344 276.94341,2.1410834 272.83301,1.0859146 268.75977,1.2441406 Z M 435.73242,23.398438 c -27.89396,1.41693 -56.10435,-1.430982 -83.92969,1.515624 -15.4982,5.100454 -18.70952,30.207624 -3.71093,37.859376 12.78719,6.897584 27.60564,1.722043 41.29297,3.380859 9.12182,0.09956 18.6302,-0.197861 27.51367,0.146484 0.6174,22.144465 -2.17573,44.664779 1.84179,66.558599 6.48101,15.24088 32.3916,15.85811 38.24219,-0.21094 5.26659,-13.6252 0.59296,-28.21262 2.07617,-42.234378 C 458.7923,72.180941 461.04295,53.50944 457.14844,35.578125 453.33023,27.657889 444.31569,23.174239 435.73242,23.398438 Z M 78.189453,270.72656 c -13.843448,-0.19754 -23.824405,15.18669 -20.800781,28.06446 0.630249,74.85844 -1.320021,149.83257 1.039062,224.61914 3.988413,12.49405 19.161364,16.71404 30.904243,14.39583 43.952363,-0.75609 88.107873,1.79645 131.933643,-1.40169 12.21047,-4.68114 15.37211,-19.79967 13.34961,-31.43555 0,-41.45117 0,-82.90234 0,-124.35352 23.29753,0 46.59506,0 69.89258,0 0.69155,47.89451 -1.72101,95.97534 1.34375,143.75196 4.62617,12.29636 19.84188,15.56641 31.52729,13.43873 43.63013,-0.7561 87.46362,1.79742 130.96685,-1.40358 12.21257,-4.68317 15.38315,-19.81073 13.33334,-31.4492 -0.55477,-69.48921 1.22533,-139.07916 -0.95638,-208.50587 -4.46531,-16.36442 -30.95182,-19.73837 -38.39649,-4.02149 -6.48761,12.74084 -1.40153,27.27508 -3.09375,40.80469 0,54.05143 0,108.10286 0,162.1543 -30.78515,0 -61.57031,0 -92.35547,0 -0.69154,-47.89451 1.72102,-95.97534 -1.34375,-143.75196 -4.62709,-12.29728 -19.84664,-15.57304 -31.53313,-13.42928 -36.16066,0.72662 -72.54131,-1.80237 -108.56452,1.42147 -12.17136,4.70993 -15.28551,19.78732 -13.28125,31.40039 0,41.45313 0,82.90625 0,124.35938 -30.7767,0 -61.55339,0 -92.330081,0 -0.463977,-69.82524 1.088871,-139.6981 -0.847657,-209.49219 -2.554439,-8.91052 -11.527829,-15.44024 -20.787109,-15.16602 z');
	transform: scale(0.037,0.037) !important;
	transform-origin: 20% 14%;
}
.button-addressfield.bookmark svg path {
    d: path('M10.325 0.875c-1.472 0-2.738 1.197-3.325 2.447-0.587-1.25-1.854-2.447-3.325-2.447-2.029 0-3.675 1.647-3.675 3.675 0 4.127 4.163 5.209 7 9.289 2.682-4.055 7-5.294 7-9.289 0-2.029-1.647-3.675-3.675-3.675z');
}
.button-addressfield.bookmark.bookmarked svg .bookmark-outline {
    fill: rgb(218, 93, 93);
}
.button-addressfield.bookmark.bookmarked:hover svg .bookmark-outline {
    fill: rgb(234, 64, 64);
}
.bookmarks svg path {
	d: path('M10.325 0.875c-1.472 0-2.738 1.197-3.325 2.447-0.587-1.25-1.854-2.447-3.325-2.447-2.029 0-3.675 1.647-3.675 3.675 0 4.127 4.163 5.209 7 9.289 2.682-4.055 7-5.294 7-9.289 0-2.029-1.647-3.675-3.675-3.675z');
	transform: translate(6px,8px);
}
.notes svg path/*, .bookmarks.active svg path*/ {
	d: path('m23.90625,3.96875c-1.04688,0 -2.09375,0.40625 -2.90625,1.21875l-15.8125,15.8125l-0.0625,0.3125l-1.09375,5.5l-0.3125,1.46875l1.46875,-0.3125l5.5,-1.09375l0.3125,-0.0625l15.8125,-15.8125c1.625,-1.625 1.625,-4.1875 0,-5.8125c-0.8125,-0.8125 -1.85938,-1.21875 -2.90625,-1.21875zm0,1.90625c0.50391,0 1.01172,0.23047 1.5,0.71875c0.97266,0.97266 0.97266,2.02734 0,3l-0.71875,0.6875l-2.96875,-2.96875l0.6875,-0.71875c0.48828,-0.48828 0.99609,-0.71875 1.5,-0.71875zm-3.59375,2.84375l2.96875,2.96875l-12.09375,12.09375c-0.65625,-1.28125 -1.6875,-2.3125 -2.96875,-2.96875l12.09375,-12.09375zm-13.375,13.71875c1.19922,0.48438 2.14063,1.42578 2.625,2.625l-3.28125,0.65625l0.65625,-3.28125z');
	transform: scale(0.68,0.68) translate(3px,4px);
}
